/* Body */
/* Headers 1 */
/* General Header */
/* Secondary Window */
/* Tasks */
/* Document */
/* Headers 2 */
/* General */
/* Form */
/* Modals */
/* Document */
/* Headers 4 */
/* General */
/* Headers 5 */
/* General */
/* Error */
/* Popovers/Sliders/Boxes */
/* Forms Textfields */
/* Paragraph */
/* Links */
/* Find highlight*/
/* Switch */
/* Tables */
/* Lists */
/* Tabs and Contents */
/* Secondary Window */
/* Navigation */
/* Review and Approve */
/***
** Reset CSS
**/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  /*margin: 0;*/
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /*vertical-align: baseline;*/

}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
@font-face {
  font-family: 'svgfont_1regular';
  src: url('/Content/fonts/custom/icons_12062013-webfont.eot');
  src: url('/Content/fonts/custom/icons_12062013-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/custom/icons_12062013-webfont.svg#svgfont_1regular') format('svg'), url('/Content/fonts/custom/icons_12062013-webfont.woff') format('woff'), url('/Content/fonts/custom/icons_12062013-webfont.ttf') format('truetype');
}
body {
  margin: 0;
  padding: 0;
  display: block;
  background-color: #f3f3f3;
  font-family: 'Segoe UI', Tahoma, 'Sans Serif', Arial, 'Shell UI', 'Trebuchet MS', Verdana;
  font-size: 0.9em;
  line-height: 1.17em;
  overflow-y: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
*:focus {
  outline: none;
}
.itemCenter {
  text-align: center;
}
.itemRight {
  text-align: right;
  margin: 7px 0;
  margin-right: -9px;
}
.clearfix {
  clear: both;
}
body,
html {
  height: 100%;
}
/* Headings */
h1 {
  font-family: 'Segoe UI', Tahoma, 'Sans Serif', Arial, 'Shell UI', 'Trebuchet MS', Verdana;
  font-size: 1.2em;
  color: #000000;
  line-height: 1.2em;
  font-weight: normal;
  padding-bottom: 9px;
  margin-bottom: 10px;
}
h1.sectionTitleForPrint {
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1.4em;
  border-bottom: 5px solid #dadada;
}
h1.secondWinTitle {
  font-family: 'Segoe UI', Tahoma, 'Sans Serif', Arial, 'Shell UI', 'Trebuchet MS', Verdana;
  font-size: 1.2em;
  color: #000000;
  border-bottom: 5px solid #dadada;
}
h1.taskHeader {
  font-family: 'Segoe UI', Tahoma, 'Sans Serif', Arial, 'Shell UI', 'Trebuchet MS', Verdana;
  font-size: 1.2em;
  color: #000000;
  margin-top: 10px;
}
h2 {
  font-family: 'Segoe UI', Tahoma, 'Sans Serif', Arial, 'Shell UI', 'Trebuchet MS', Verdana;
  font-size: 1em;
  color: #000000;
  line-height: 1.2em;
  font-weight: normal;
  padding-bottom: 7px;
}
h2.modalTitle {
  font-family: 'Segoe UI', Tahoma, 'Sans Serif', Arial, 'Shell UI', 'Trebuchet MS', Verdana;
  font-size: 1.2em;
  color: #6f8298;
}
h2.formTitle {
  font-family: 'Segoe UI', Tahoma, 'Sans Serif', Arial, 'Shell UI', 'Trebuchet MS', Verdana;
  font-size: 1em;
  color: #ffffff;
}
h3,
h1.DocumentContentElement {
  font-family: 'Segoe UI', Tahoma, 'Sans Serif', Arial, 'Shell UI', 'Trebuchet MS', Verdana;
  color: #000000;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.4em;
  /*Everything past this point is over-ridden from the default h1*/

  padding-bottom: 0px;
  border-bottom: 0px;
  margin-bottom: 0px;
}
h3[level="2"],
h2.DocumentContentElement {
  font-family: 'Segoe UI', Tahoma, 'Sans Serif', Arial, 'Shell UI', 'Trebuchet MS', Verdana;
  font-size: 1em;
  color: #000000;
  line-height: 1.4em;
  /*Inherits from h3*/
  font-weight: bold;
}
h4 {
  font-family: 'Segoe UI', Tahoma, 'Sans Serif', Arial, 'Shell UI', 'Trebuchet MS', Verdana;
  font-size: 1em;
  color: #808080;
}
h5 {
  font-family: 'Segoe UI', Tahoma, 'Sans Serif', Arial, 'Shell UI', 'Trebuchet MS', Verdana;
  font-size: 1.2em;
  color: #ffffff;
  margin-bottom: 7px;
  padding-bottom: 5px;
  border-bottom: 1px solid #b8bfc8;
}
/* Basic formats */
p {
  font-family: 'Segoe UI', Tahoma, 'Sans Serif', Arial, 'Shell UI', 'Trebuchet MS', Verdana;
  font-size: 100%;
  color: #000000;
  margin-bottom: 10px;
}
b {
  font-weight: bold;
}
i {
  font-style: italic;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  border: none;
  outline: none;
}
input[type=checkbox] {
  border: none;
}
input:focus {
  outline: 1px #e39505 solid;
}
input.btn:focus {
  outline: 1px #e39505 solid;
}
input.gotoDocSearch:focus {
  outline: none;
}
input[type=text]#searchItem:focus {
  outline: none;
}
.afterMainTitle {
  height: 15px;
}
/*Layout-DIV Be carefull, better no change!*/
#mainContainer {
  float: left;
  position: fixed;
  top: 68px;
  padding: 15px 5px 10px 10px;
}
#document_wrapper {
  float: left;
  width: 100%;
}
#mainDocumentContent {
  height: 100%;
}
#searchableContent {
  min-width: 320px;
}
/* FOLDER TREEVIEW */
#folders li:first-child {
  margin-top: 5px;
}
#folders {
  padding-bottom: 30px;
}
.jstree-no-dots li {
  line-height: 1.5em;
}
.jstree-no-dots {
  font-size: .9em;
}
/*Ajax Loading*/
#AjaxLoading {
  position: absolute;
  bottom: 50%;
  left: 46%;
  z-index: 200000;
  border: 1px solid #999;
  padding: 10px;
  margin: 10px;
  background-color: #FFF;
}
.AjaxLoadingImage {
  background-color: transparent;
  width: 32px;
}
.error {
  font-family: 'Segoe UI', Tahoma, 'Sans Serif', Arial, 'Shell UI', 'Trebuchet MS', Verdana;
  color: #ff0000;
  border-bottom: none;
}
/* Notes */
.RedNote {
  color: red;
}
/* Message Boxes*/
#messageBox {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  min-width: 274px;
  z-index: 999;
}
#alertBox {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  min-width: 274px;
  z-index: 999;
}
#searchErrorBoxDisp {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  min-width: 274px;
  z-index: 999;
}
input[type=text]::-ms-clear {
  display: none;
}
.right_div {
  text-align: right;
}
#changethepass {
  cursor: pointer;
}
/* About Document */
#AboutDocument .modal-body,
#AboutViewer .modal-body,
#MyDetailsModal .modal-body {
  padding-top: 0;
}
#AboutDocument .modal-body img,
#AboutViewer .modal-body img,
#MyDetailsModal .modal-body img {
  padding: 0 0 10px 0;
}
#AboutDocument .modal-body p,
#AboutViewer .modal-body p,
#MyDetailsModal .modal-body p {
  margin-bottom: 0;
}
#AboutDocument .modal-body br,
#AboutViewer .modal-body br,
#MyDetailsModal .modal-body br {
  display: none;
}
#AboutDocument .modal-body table,
#AboutViewer .modal-body table,
#MyDetailsModal .modal-body table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 1em;
}
#AboutDocument .modal-body table td,
#AboutViewer .modal-body table td,
#MyDetailsModal .modal-body table td {
  padding: 5px 0 0 7px;
}
#myModalLabel button {
  margin-top: -15px;
}
.hiddenCharacter {
  color: transparent;
}
.appErrorHeader {
  font-size: 30pt;
  color: orange;
  margin-top: 15px;
  margin-bottom: 20px;
}
.appErrorInstruction {
  font-size: small;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* Alerts */
.redAlert {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: red;
  font-size: .8em;
  line-height: 1.2em;
  color: #fff;
  padding: 6px 3px 0 10px;
  vertical-align: middle;
  z-index: 99999;
}
.redAlert p {
  float: left;
}
.greenAlert {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #5bb75b;
  font-size: .8em;
  line-height: .8em;
  color: #fff;
  padding: 6px 3px 0 10px;
  vertical-align: middle;
  z-index: 9999;
}
.greenAlert p {
  float: left;
}
.redAlert_Permission {
  display: none;
  background-color: #da4f49;
  font-size: .8em;
  line-height: 1.2em;
  color: #fff;
  padding: 4px 3px 0 10px;
  vertical-align: middle;
  z-index: 9999;
}
.redAlert_Permission p {
  float: left;
}
.warningAlert {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #58abc3;
  height: 25px;
  color: #fff;
  padding: 0 3px 0 10px;
  vertical-align: middle;
  z-index: 9999;
  background-position: 15px center;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
  -moz-background-size: 16px 16px;
  -o-background-size: 16px 16px;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
.warningAlert p {
  float: left;
  padding-left: 30px;
  padding-top: 5px;
}
#permanentmessage {
  cursor: pointer;
  z-index: 9999;
}
.verticalSpace {
  height: 15px;
  clear: both;
}
#ChangePassword {
  width: 355px;
  position: fixed;
  bottom: 0;
  right: 0;
  color: #ffffff;
  background-color: #577595;
}
#PreferredLanguage-Settings {
  width: 355px;
  position: fixed;
  bottom: 31px;
  right: 0;
  color: #ffffff;
  background-color: #577595;
}
/* CopyDocLocation Modal*/
#CopyDocLocation {
  display: none;
  width: 314px;
  position: fixed;
  bottom: 32px;
  right: 0;
  padding: 20px;
  color: #ffffff;
  background-color: #577595;
}
/* Form elements */
.textfieldLabel {
  float: left;
  line-height: 2.5em;
  padding-left: 11px;
  color: #ffffff;
}
.textfield-BottomForm {
  float: left;
  width: 98%;
  height: 37px;
  margin: 5px 0;
  background-color: #365c85;
}
.textfield-BottomForm select {
  height: 37px;
  border-radius: 0;
  margin-right: -12px;
}
.textfieldInput {
  float: right;
}
.textfieldInput input {
  border-radius: 0;
  border: 0;
  height: 29px;
  width: 100%;
  margin: 0 !important;
}
.textfieldInput_Registration {
  float: right;
}
.textfieldInput_Registration input {
  border: 1px solid #365c85 !important;
  float: right;
  border-radius: 0px;
  /*border:0px;*/

  height: 27px;
  width: 115px;
  margin: 0 !important;
}
